In [1]:
import pandas as pd
import json
import geopy
from geopy.geocoders import Nominatim

In [2]:
deliveries_df = pd.read_csv('..\\deliveries_loggi.csv', sep=';')
deliveries_df.head()

,name,region,origin_lat,origin_lng,origin,vehicle_capacity,delivery_size,destiny_lat,destiny_lng,destiny
0,cvrp-2-df-33,df-2,-15.838145,-48.054989,"-15.83814451122274, -48.05498915846707",180,9,-15.848929,-48.116189,"-15.848929154862294, -48.11618888384239"
1,cvrp-2-df-33,df-2,-15.838145,-48.054989,"-15.83814451122274, -48.05498915846707",180,2,-15.850772,-48.118195,"-15.850772371049631, -48.11819489551"
2,cvrp-2-df-33,df-2,-15.838145,-48.054989,"-15.83814451122274, -48.05498915846707",180,1,-15.847871,-48.112483,"-15.84787055941764, -48.11248339849675"
3,cvrp-2-df-33,df-2,-15.838145,-48.054989,"-15.83814451122274, -48.05498915846707",180,2,-15.846471,-48.118023,"-15.846471025281456, -48.11802268617869"
4,cvrp-2-df-33,df-2,-15.838145,-48.054989,"-15.83814451122274, -48.05498915846707",180,7,-15.858055,-48.114898,"-15.85805462185708, -48.114898174591026"

In [3]:
hub_df = deliveries_df[['region', 'origin_lng', 'origin_lat','origin']]
hub_df = hub_df.drop_duplicates().sort_values('region').reset_index(drop=True)
hub_df.head()

  region  origin_lng  origin_lat                                    origin
0   df-0  -47.802665  -15.657014  -15.657013854445248, -47.802664728268745
1   df-1  -47.893662  -15.805118    -15.80511751066334, -47.89366206897872
2   df-2  -48.054989  -15.838145    -15.83814451122274, -48.05498915846707

In [ ]:
geolocator = Nominatim(user_agent='%s')
location = geolocator.reverse('-15.657014, -47.802665')

print(json.dumps(location.raw, indent=2, ensure_ascii=False))