In [3]:
hub_df = deliveries_df[['region', 'origin_lng', 'origin_lat','origin']]
hub_df = hub_df.drop_duplicates().sort_values('region').reset_index(drop=True)
hub_df.head()

  region  origin_lng  origin_lat                                    origin
0   df-0  -47.802665  -15.657014  -15.657013854445248, -47.802664728268745
1   df-1  -47.893662  -15.805118    -15.80511751066334, -47.89366206897872
2   df-2  -48.054989  -15.838145    -15.83814451122274, -48.05498915846707

In [ ]:
geolocator = Nominatim(user_agent='%s')
location = geolocator.reverse('-15.657014, -47.802665')

print(json.dumps(location.raw, indent=2, ensure_ascii=False))